[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "==0.25.0"
mypy = "==0.670"
httpretty = "*"

[packages]
schematics = "*"
marshmallow = "*"
requests = "*"
ijson = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
